# Recommender systems

## One of the most common uses of big data is to predict and suggest what users may want.  This allows Google to show you relevant ads or to suggest news in Google Now; Amazon to recommend relevant products; Netflix to recommend movies that you might like; or most recently, the famous **Weekly Dicovery** of Spotify.

## All these products are based on systems of recommendation: a information retrieval method to provide users with relevant, yet novel and diverse, information. 

## In this class we will use a pretty famous dataset based on movies ratings, 'MovieLens', to learn the basics of recommender systems. 

## Table of Contents (times are approximated)

1. [Getting and analysing some data (1.5-2 h, typically until break)](#data)
2. [Most popular movies (0.5-1 min)](#popular)
3. [Metrics for recommender systems (2-2.5h)](#metrics)

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os

<a id='data'></a>
## 1.1 Load data

We will use MovieLens dataset, which is one of the most common datasets used when implementing and testing recommender engines. This data set consists of:
* 100,000 ratings (1-5) from 943 users on 1682 movies. 
* Each user has rated at least 20 movies. 
* Simple demographic info for the users (age, gender, occupation, zip)

The data was collected through the MovieLens [website](https://movielens.org) during the seven-month period from September 19th, 
1997 through April 22nd, 1998. This data has been cleaned up - users
who had less than 20 ratings or did not have complete demographic
information were removed from this data set.

You can download the dataset [here](http://files.grouplens.org/datasets/movielens/ml-100k.zip).

Take a look at the readme file!!!

In [2]:
data_root = "../data/ml-100k/"

In [3]:
!cat {data_root}README

SUMMARY & USAGE LICENSE
=============================================

MovieLens data sets were collected by the GroupLens Research Project
at the University of Minnesota.

This data set consists of:
	* 100,000 ratings (1-5) from 943 users on 1682 movies.
	* Each user has rated at least 20 movies.
        * Simple demographic info for the users (age, gender, occupation, zip)

The data was collected through the MovieLens web site
(movielens.umn.edu) during the seven-month period from September 19th,
1997 through April 22nd, 1998. This data has been cleaned up - users
who had less than 20 ratings or did not have complete demographic
information were removed from this data set. Detailed descriptions of
the data file can be found at the end of this file.

Neither the University of Minnesota nor any of the researchers
involved can guarantee the correctness of the data, its suitability
for any particular purpose, or the validity of results based on the
use of the data set.  The data set may be used for any research
purposes under the following conditions:

     * The user may not state or imply any endorsement from the
       University of Minnesota or the GroupLens Research Group.

     * The user must acknowledge the use of the data set in
       publications resulting from the use of the data set
       (see below for citation information).

     * The user may not redistribute the data without separate
       permission.

     * The user may not use this information for any commercial or
       revenue-bearing purposes without first obtaining permission
       from a faculty member of the GroupLens Research Project at the
       University of Minnesota.

If you have any further questions or comments, please contact GroupLens
<grouplens-info@cs.umn.edu>.

CITATION
==============================================

To acknowledge use of the dataset in publications, please cite the
following paper:

F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets:
History and Context. ACM Transactions on Interactive Intelligent
Systems (TiiS) 5, 4, Article 19 (December 2015), 19 pages.
DOI=http://dx.doi.org/10.1145/2827872


ACKNOWLEDGEMENTS
==============================================

Thanks to Al Borchers for cleaning up this data and writing the
accompanying scripts.

PUBLISHED WORK THAT HAS USED THIS DATASET
==============================================

Herlocker, J., Konstan, J., Borchers, A., Riedl, J.. An Algorithmic
Framework for Performing Collaborative Filtering. Proceedings of the
1999 Conference on Research and Development in Information
Retrieval. Aug. 1999.

FURTHER INFORMATION ABOUT THE GROUPLENS RESEARCH PROJECT
==============================================

The GroupLens Research Project is a research group in the Department
of Computer Science and Engineering at the University of Minnesota.
Members of the GroupLens Research Project are involved in many
research projects related to the fields of information filtering,
collaborative filtering, and recommender systems. The project is lead
by professors John Riedl and Joseph Konstan. The project began to
explore automated collaborative filtering in 1992, but is most well
known for its world wide trial of an automated collaborative filtering
system for Usenet news in 1996.  The technology developed in the
Usenet trial formed the base for the formation of Net Perceptions,
Inc., which was founded by members of GroupLens Research. Since then
the project has expanded its scope to research overall information
filtering solutions, integrating in content-based methods as well as
improving current collaborative filtering technology.

Further information on the GroupLens Research project, including
research publications, can be found at the following web site:

        http://www.grouplens.org/

GroupLens Research currently operates a movie recommender based on
collaborative filtering:

        http://www.movielens.org/

DETAILED DESCRIPTIONS OF DATA FILES
==============================================

Here are brief descriptions of the data.

ml-data.tar.gz   -- Compressed tar file.  To rebuild the u data files do this:
                gunzip ml-data.tar.gz
                tar xvf ml-data.tar
                mku.sh

u.data     -- The full u data set, 100000 ratings by 943 users on 1682 items.
              Each user has rated at least 20 movies.  Users and items are
              numbered consecutively from 1.  The data is randomly
              ordered. This is a tab separated list of
	         user id | item id | rating | timestamp.
              The time stamps are unix seconds since 1/1/1970 UTC

u.info     -- The number of users, items, and ratings in the u data set.

u.item     -- Information about the items (movies); this is a tab separated
              list of
              movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western |
              The last 19 fields are the genres, a 1 indicates the movie
              is of that genre, a 0 indicates it is not; movies can be in
              several genres at once.
              The movie ids are the ones used in the u.data data set.

u.genre    -- A list of the genres.

u.user     -- Demographic information about the users; this is a tab
              separated list of
              user id | age | gender | occupation | zip code
              The user ids are the ones used in the u.data data set.

u.occupation -- A list of the occupations.

u1.base    -- The data sets u1.base and u1.test through u5.base and u5.test
u1.test       are 80%/20% splits of the u data into training and test data.
u2.base       Each of u1, ..., u5 have disjoint test sets; this if for
u2.test       5 fold cross validation (where you repeat your experiment
u3.base       with each training and test set and average the results).
u3.test       These data sets can be generated from u.data by mku.sh.
u4.base
u4.test
u5.base
u5.test

ua.base    -- The data sets ua.base, ua.test, ub.base, and ub.test
ua.test       split the u data into a training set and a test set with
ub.base       exactly 10 ratings per user in the test set.  The sets
ub.test       ua.test and ub.test are disjoint.  These data sets can
              be generated from u.data by mku.sh.

allbut.pl  -- The script that generates training and test sets where
              all but n of a users ratings are in the training data.

mku.sh     -- A shell script to generate all the u data sets from u.data.

In [4]:
columns = ['user_id', 'item_id', 'rating', 'timestamp']
datafile = os.path.join(data_root, "u.data")
data = pd.read_csv(datafile, sep='\t', names=columns)
data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

### A remainder of the numpy library

*Pandas library is nothing alse than numpy under the hood (numpy with steroids, if you like). You can access the data (in matrix from) with he "values" attribute, e.g. data.values*

In [6]:
data.values

array([[      196,       242,         3, 881250949],
       [      186,       302,         3, 891717742],
       [       22,       377,         1, 878887116],
       ...,
       [      276,      1090,         1, 874795795],
       [       13,       225,         2, 882399156],
       [       12,       203,         3, 879959583]])

In [7]:
# The attribute shape provides the shape of the matrix
data.values.shape

(100000, 4)

In [9]:
# Note that if we return the first column, we get a vector (of 100000 components)
data.values[:, 0].shape

(100000,)

In [11]:
# same with the first row (this time, we get a vector of 4 components)
data.values[0, :]
data.values[0]

array([      196,       242,         3, 881250949])

In [12]:
# access all rows, and first 3 columns 
data.values[:, :3]

array([[ 196,  242,    3],
       [ 186,  302,    3],
       [  22,  377,    1],
       ...,
       [ 276, 1090,    1],
       [  13,  225,    2],
       [  12,  203,    3]])

In [ ]:
# access all collumns, and first 3 rows

In [ ]:
# access first 10 rows

# This is equivalent to data.values[:10]

In [ ]:
# access first column

In [14]:
# Number of users and items
n_users = data.user_id.unique().size

In [16]:
# Number of items
n_items = np.unique(data.values[:, 1]).shape[0]

In [17]:
print("There are %s users and %s items" %(n_users, n_items))

There are 943 users and 1682 items

## 1.2 A dictionary for movies and a search tool

In order to analyze the predicted recommendations, let's create a python dictonary that will allow us to translate any item id to the corresponding movie title. Also, let's write a small function that returns the ids of the movies containing some text.

The correspondance between titles and ids is stored in the u.item file

In [18]:
# data_root = "./../data/ml-100k/"
items_id_file = os.path.join(data_root, "u.item")
!head $items_id_file

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0
6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0
8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0
9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0

### *Simple reminder of dictionaries*

In [19]:
aux = {'hola': 'que haces?', 1: '237'}

In [20]:
# Access value of key='hola'
aux['hola']

'que haces?'

In [22]:
# create new key
aux['adios'] = 'ciao'
aux

{'hola': 'que haces?', 1: '237', 'adios': 'ciao'}

In [23]:
# Update value of existing key
aux['hola'] = 'hola'
aux

{'hola': 'hola', 1: '237', 'adios': 'ciao'}

In [25]:
# get all keys 
list(aux.keys())

['hola', 1, 'adios']

In [26]:
# get all values
aux.values()

dict_values(['hola', '237', 'ciao'])

In [27]:
# get all keys and values at the same time
aux.items()

dict_items([('hola', 'hola'), (1, '237'), ('adios', 'ciao')])

In [28]:
# Create a dictionary for movie titles and ids
item_dict = {}
with io.open(items_id_file, 'rb') as f:
    for line in f.readlines():
        record = line.split(b'|')
        item_dict[int(record[0])] = str(record[1])
    
# We can use this dict to see the films a user has seen, for instance. 
for record in data.values[:20]:
    print("User {u} viewed '{m}' and gave a {r} rating".format(
        u=record[0], m=item_dict[record[1]], r=record[2]))

User 196 viewed 'b'Kolya (1996)'' and gave a 3 rating
User 186 viewed 'b'L.A. Confidential (1997)'' and gave a 3 rating
User 22 viewed 'b'Heavyweights (1994)'' and gave a 1 rating
User 244 viewed 'b'Legends of the Fall (1994)'' and gave a 2 rating
User 166 viewed 'b'Jackie Brown (1997)'' and gave a 1 rating
User 298 viewed 'b'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)'' and gave a 4 rating
User 115 viewed 'b'Hunt for Red October, The (1990)'' and gave a 2 rating
User 253 viewed 'b'Jungle Book, The (1994)'' and gave a 5 rating
User 305 viewed 'b'Grease (1978)'' and gave a 3 rating
User 6 viewed 'b'Remains of the Day, The (1993)'' and gave a 3 rating
User 62 viewed 'b'Men in Black (1997)'' and gave a 2 rating
User 286 viewed 'b"Romy and Michele's High School Reunion (1997)"' and gave a 5 rating
User 200 viewed 'b'Star Trek: First Contact (1996)'' and gave a 5 rating
User 210 viewed 'b'To Wong Foo, Thanks for Everything! Julie Newmar (1995)'' and gave a 3 rating
User 224 viewed 'b'Batman Forever (1995)'' and gave a 3 rating
User 303 viewed 'b'Only You (1994)'' and gave a 3 rating
User 122 viewed 'b'Age of Innocence, The (1993)'' and gave a 5 rating
User 194 viewed 'b'Sabrina (1995)'' and gave a 2 rating
User 291 viewed 'b'Just Cause (1995)'' and gave a 4 rating
User 234 viewed 'b'Endless Summer 2, The (1994)'' and gave a 2 rating

In [32]:
# Define a function that retrieves all the ids and titles for movies containing 'text' in its title
def returnItemId(text, ids):
    """
    :param text: string to be looked for in movies titles
    :param ids: dictionary of {id:title}
    
    :return: a list of (id,title) if text found in titles, and an empty list otherwise.
    """
    # convert input text to lowercase
    text_ = text.lower()
    # find occurances
    search = []
    for id_,title in ids.items():
        if text in title.lower():
            search.append((id_, title))
    
    return search

In [33]:
returnItemId??

In [34]:
returnItemId('but', item_dict)

[(240, "b'Beavis and Butt-head Do America (1996)'"),
 (435, "b'Butch Cassidy and the Sundance Kid (1969)'"),
 (580,
  "b'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)'"),
 (1401, "b'M. Butterfly (1993)'"),
 (1459, "b'Madame Butterfly (1995)'"),
 (1614, "b'Reluctant Debutante, The (1958)'"),
 (1621, "b'Butterfly Kiss (1995)'"),
 (1645, "b'Butcher Boy, The (1998)'"),
 (1650, "b'Butcher Boy, The (1998)'")]

## 1.3 Data consistency (always double check everything!!!)

In [37]:
# check whether titles are unique or not. They are not!!!
len(set(item_dict.keys())), len(set(item_dict.values()))

(1682, 1664)

In [ ]:
?

### One work around: create another dict that consolidates ids with the same movie title

Alternatively, you could create a Dataframe from the above dictionary of ids:titles

<pre><code>
dd = pd.DataFrame.from_dict(item_dict, orient='index').reset_index()
dd.columns = ['item_id', 'title']
dd.head()
</code></pre>

find the duplicates (`dd.groupby('title')...`), and create a new id for the items.

In [ ]:
duplicates_item_dict = {}
# Las claves en "duplicates_item_dict" son los nombres de las películas
# Los valores son una lista de los ids (que pueden ser uno solo, o varios)
for id_, name in list(item_dict.items()):
    # clave: name; valor: list(id_)
    ?

# show the duplicated titles
for k,v in list(duplicates_item_dict.items()):
    if len(v)>1:
        print(k,v)

Create a dict where the key are the original ids, and the values are the unique one. 
We will use this dictionary to remove duplicates in a dataframe.

In [ ]:
unique_id_item_dict ={}
for new_id, old_id_list in enumerate(duplicates_item_dict.values()):
    # key: old_id; value: new_id
    ?

unique_id_item_dict = {old_id: new_id for new_id, old_id_list in enumerate(duplicates_item_dict.values()) 
                                      for old_id in old_id_list}

In [ ]:
unique_id_item_dict

Create another dict mapping moving titles to this new unique id

In [ ]:
unique_item_dict = {unique_id_item_dict[k]:v 
                    for k,v in item_dict.items()}
    
assert(len(set(unique_item_dict.keys())) == 
       len(set(unique_item_dict.values())))

Now we can use our `returnItemId()` mehtod safely =)

In [ ]:
returnItemId('but', unique_item_dict)

In [ ]:
returnItemId('but', item_dict)

## Copiamos de notebook de mañana

In [49]:
class rueda():
    
    def __init__(self, marca, diametro):
        self.marca = marca
        self.diametro = diametro
        self.distancia = 0
        
    def rodar(self, distancia):
        self.distancia += distancia

In [50]:
r1 = rueda(marca='michelin', diametro=17)
r2 = rueda(marca='michelin', diametro=42)

In [51]:
r1.diametro, r2.diametro

(17, 42)

In [52]:
for _ in range(10):
    r1.rodar(5)
    print(r1.distancia)

5
10
15
20
25
30
35
40
45
50

In [53]:
class movielens_100k(object):
    """
    This python class read the movielens-100k dataset and:
        . Preprocess train and test sets
        . Create a python dict that allows us to translate any item id to the corresponding movie title
    """
    
    def __init__(self, data_root, item_id_file='u.item', train_file='u2.base', test_file='u2.test', 
                 columns=['user_id', 'item_id', 'rating', 'timestamp']):
                
        self.data_root = data_root
        self.items_id_file = os.path.join(self.data_root, item_id_file)
        self.train_file = train_file
        self.test_file = test_file
        self.columns = columns
        self.__data = {}  # dictionary to store train and test data
            
    def __getitem__(self, dataset):
        """
        Get train and test data

        :param dataset: dataset name (String)
        :return: pandas dataframe
        """
        return self.__data[dataset]

    def __setitem__(self, key, value):
        """
        Store train and test data in the dictionary self.__data.

        :param key: name of the dataset (String)
        :param value: pandas dataframe
        """
        self.__data[key] = value
        
    def read_data(self, file, verbose=False):
        """
        Read file returning a pandas dataframe
        :param file: file path
        :param verbose: print the first rows of the data
        """
        datafile = os.path.join(self.data_root, file)
        data = pd.read_csv(datafile, sep='\t', names=self.columns)
        if verbose:
            print(data.head())
        return data
            
    def returnItemId(self, text, dict_ids):
        """
        Retrieves all the ids and titles for movies containing 'text' in its title
        :param text: string to be looked for in movies titles
        :param dict_ids: dicttionary of {id:title}

        :return: a list of (id,title) if text found in titles, and an empty list otherwise.
        """
        # convert input text to lowercase
        text_ = text.lower()
        # find occurances
        search = [(k, v.lower().find(text_)) 
                  for k,v in list(dict_ids.items())]

        # Get the IDs corresponding to the given text
        index = [k for k,v in search if v>-1]

        # Return a list with the id and the name
        out = []
        for i in index:
            out.append((i, dict_ids[i]))
        return out
    
    def check_data_consistency(self):
        """
        Check if one film has two or more ids
        """
        self.item_dict = {}
        with io.open(self.items_id_file, 'rb') as f:
            for line in f.readlines():
                record = line.split(b'|')
                self.item_dict[int(record[0])] = str(record[1])
                
        if len(set(self.item_dict.keys())) == len(set(self.item_dict.values())):
            self.unique_item_dict_ = self.item_dict
            return True
        else:
            self.duplicates_item_dict = {}
            for id_,name in list(self.item_dict.items()):
                if name not in self.duplicates_item_dict:
                    self.duplicates_item_dict[name] = [id_]
                else:
                    self.duplicates_item_dict[name] = self.duplicates_item_dict[name]+[id_]

            self.unique_id_item_dict ={}
            for i, lista_id in enumerate(self.duplicates_item_dict.values()) :
                for key in lista_id:
                    self.unique_id_item_dict[key] = i

            self.unique_item_dict_ = {self.unique_id_item_dict[k]:v 
                                for k,v in self.item_dict.items()}
            return False
    
    def correcting_non_unique_movies(self, data_df):
        """
        Preprocess data_df in case the check_data_consistency function fails
        """
        if not self.check_data_consistency():
            data_df['item_id'] = data_df['item_id'].apply(lambda x: self.unique_id_item_dict[x])
            
        return data_df
            
    def train(self, verbose=False):
        """
        Train data
        """
        self['train_set'] = self.read_data(self.train_file, verbose)
        self['train_set'] = self.correcting_non_unique_movies(self['train_set'])
        items = self['train_set'].item_id.unique()
        self.train_id_dict = {j:i for i,j in enumerate(items)}
        self['train_set']['item_id'] = self['train_set']['item_id'].apply(lambda x: self.train_id_dict[x])
        self.unique_item_dict = {self.train_id_dict[v]:self.unique_item_dict_[v] 
                                for v in items}
        self.n_users = self['train_set'].user_id.unique().shape[0]
        self.n_items = self['train_set'].item_id.unique().shape[0]
        self.n_pairs = self['train_set'].shape[0]
        if verbose:
            print('There are %s users, %s items and %s pairs in the test set' \
                  %(self.n_users, self.n_items, self.n_pairs))
    
    def test(self, verbose=False):
        """
        Test data
        """
        self['test_set'] = self.read_data(self.test_file, verbose)
        self['test_set']['item_id'] = self['test_set']['item_id'].apply(lambda x: self.unique_id_item_dict[x])
        self['test_set']['item_id'] = self['test_set']['item_id'].apply(lambda x: self.train_id_dict[x] if x in self.train_id_dict else -1)
        self['test_set'] = self['test_set'][self['test_set']['item_id']!=-1]
        if verbose:
            print('There are %s users, %s items and %s pairs in the test set' \
                  %(self['test_set'].user_id.unique().shape[0], self['test_set'].item_id.unique().shape[0], 
                    self['test_set'].shape[0]))
            
    def get_data(self, verbose=False):
        """
        A kind of main function to return train and test data together
        """
        self.train(verbose)
        self.test(verbose)

In [57]:
m1 = movielens_100k(data_root=data_root)
m1.get_data()

In [59]:
m1['train_set'].head()

   user_id  item_id  rating  timestamp
0        1        0       4  878542960
1        1        1       3  876893119
2        1        2       3  889751712
3        1        3       5  887431973
4        1        4       4  875071561

In [60]:
m1['test_set'].head()

   user_id  item_id  rating  timestamp
0        1      289       5  874965758
1        1      290       3  876893171
2        1      373       1  875072484
3        1      374       5  878543541
4        1      665       1  878542772

In [61]:
m2 = movielens_100k(data_root=data_root, train_file='u1.base', test_file='u1.test')
m2.get_data()
m2['test_set'].head()

   user_id  item_id  rating  timestamp
0        1      740       5  887431973
1        1      134       3  875693118
2        1      268       5  878542960
3        1      135       5  874965706
4        1      536       3  875073198

## 1.4 Train and test sets

GroupLens provides several splits of the dataset, so that we can check the goodness of our algorithms. See the README file for more  details. Here we will use one of such splits.

Please notice that we have to correct for the non-unique movie's id issue!!

In [ ]:
l!ls $data_root

In [ ]:
trainfile = os.path.join(data_root, 'ua.base')
!head $trainfile

In [ ]:
columns = ['user_id', 'item_id', 'rating', 'timestamp']
trainfile = os.path.join(data_root, "ua.base")
train = ?
print('There are %s users, %s itmes and %s pairs in the train set' \
      %(train.user_id.unique().shape[0], train.item_id.unique().shape[0], train.item_id.count()))
train.head()

In [ ]:
# same for test
columns = ['user_id', 'item_id', 'rating', 'timestamp']
testfile = os.path.join(data_root, "ua.test")
test = ?
print('There are %s users, %s itmes and %s pairs in the test set' \
      %(test.user_id.unique().shape[0], test.item_id.unique().shape[0], test.item_id.count()))
test.head()

### Correcting for non-unique movies id 

Use Pandas `apply` method. Note it can be applied to all rows in a column, thus returning a Pandas Series; or it can be applied row-wise, he

*Reminder of lambda functions in Python: is a way of calling short functions (1 line of code), without having to define the function in a separted cell.*

In [ ]:
train['item_id'] = ?

In [ ]:
test['item_id'] = ?

<a id='popular'></a>
## 2. Most popular movies

Recommending popular items is a simple, yet quite effective baseline for recommendation. Indeed, most RS suffer from a strong *popularity bias*, i.e. they tend to recommend popular items more frequently than they should -just because suggesting what is popular is effective!-. There is a lot of research  devote to understand this behaviour and to develop recipies to avoid it. 

Movies can be ranked according to different popularity metrics:
* Most rated movie (it is assumed that this is the most watched movie)
* Most positively rated movie (rating > 4.0)
* Highest rated movie

## 2.1 Most rated movie

In [62]:
train = m1['train_set']
test = m1['test_set']

In [63]:
# group the train dataset by item and count the number of users using Pandas
mostRated = train.groupby('item_id')['user_id'].count()
mostRated.head()

item_id
0     65
1    172
2     66
3     22
4    318
Name: user_id, dtype: int64

In [ ]:
mostRated.head()

In [64]:
# sort in descending order
mostRatedSorted = mostRated.sort_values(ascending=False)

In [65]:
mostRatedSorted.head()

item_id
36     461
80     414
207    409
298    406
251    402
Name: user_id, dtype: int64

In [66]:
m1.unique_item_dict

{0: "b'Four Rooms (1995)'",
 1: "b'Get Shorty (1995)'",
 2: "b'Copycat (1995)'",
 3: "b'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)'",
 4: "b'Twelve Monkeys (1995)'",
 5: "b'Richard III (1995)'",
 6: "b'Seven (Se7en) (1995)'",
 7: "b'Usual Suspects, The (1995)'",
 8: "b'Mighty Aphrodite (1995)'",
 9: "b'Postino, Il (1994)'",
 10: 'b"Mr. Holland\'s Opus (1995)"',
 11: "b'French Twist (Gazon maudit) (1995)'",
 12: "b'From Dusk Till Dawn (1996)'",
 13: "b'White Balloon, The (1995)'",
 14: 'b"Antonia\'s Line (1995)"',
 15: "b'Angels and Insects (1995)'",
 16: "b'Taxi Driver (1976)'",
 17: "b'Rumble in the Bronx (1995)'",
 18: "b'Birdcage, The (1996)'",
 19: "b'Bad Boys (1995)'",
 20: "b'Apollo 13 (1995)'",
 21: "b'Batman Forever (1995)'",
 22: "b'Crimson Tide (1995)'",
 23: "b'Desperado (1995)'",
 24: "b'Free Willy 2: The Adventure Home (1995)'",
 25: "b'Mad Love (1995)'",
 26: "b'Strange Days (1995)'",
 27: "b'Billy Madison (1995)'",
 28: "b'Clerks (1994)'",
 29: "b'Disclosure (1994)'",
 30: "b'Dolores Claiborne (1994)'",
 31: "b'Eat Drink Man Woman (1994)'",
 32: "b'Exotica (1994)'",
 33: "b'Ed Wood (1994)'",
 34: "b'Hoop Dreams (1994)'",
 35: "b'I.Q. (1994)'",
 36: "b'Star Wars (1977)'",
 37: "b'Legends of the Fall (1994)'",
 38: "b'Madness of King George, The (1994)'",
 39: "b'Natural Born Killers (1994)'",
 40: "b'Outbreak (1995)'",
 41: "b'Professional, The (1994)'",
 42: "b'Pulp Fiction (1994)'",
 43: "b'Priest (1994)'",
 44: "b'Quiz Show (1994)'",
 45: "b'Three Colors: Red (1994)'",
 46: "b'Three Colors: Blue (1993)'",
 47: "b'Three Colors: White (1994)'",
 48: "b'Stargate (1994)'",
 49: "b'Shawshank Redemption, The (1994)'",
 50: 'b"What\'s Eating Gilbert Grape (1993)"',
 51: "b'While You Were Sleeping (1995)'",
 52: "b'Ace Ventura: Pet Detective (1994)'",
 53: "b'Forrest Gump (1994)'",
 54: "b'Four Weddings and a Funeral (1994)'",
 55: "b'Lion King, The (1994)'",
 56: "b'Mask, The (1994)'",
 57: "b'Maverick (1994)'",
 58: "b'Faster Pussycat! Kill! Kill! (1965)'",
 59: 'b"Carlito\'s Way (1993)"',
 60: "b'Firm, The (1993)'",
 61: "b'Free Willy (1993)'",
 62: "b'Fugitive, The (1993)'",
 63: "b'Hot Shots! Part Deux (1993)'",
 64: "b'Hudsucker Proxy, The (1994)'",
 65: "b'Jurassic Park (1993)'",
 66: "b'Much Ado About Nothing (1993)'",
 67: 'b"Robert A. Heinlein\'s The Puppet Masters (1994)"',
 68: "b'Ref, The (1994)'",
 69: "b'Remains of the Day, The (1993)'",
 70: "b'Searching for Bobby Fischer (1993)'",
 71: "b'Sleepless in Seattle (1993)'",
 72: "b'So I Married an Axe Murderer (1993)'",
 73: "b'Nightmare Before Christmas, The (1993)'",
 74: "b'True Romance (1993)'",
 75: "b'Home Alone (1990)'",
 76: "b'Aladdin (1992)'",
 77: "b'Terminator 2: Judgment Day (1991)'",
 78: "b'Dances with Wolves (1990)'",
 79: "b'Silence of the Lambs, The (1991)'",
 80: "b'Fargo (1996)'",
 81: "b'Heavy Metal (1981)'",
 82: "b'Aristocats, The (1970)'",
 83: "b'All Dogs Go to Heaven 2 (1996)'",
 84: "b'Theodore Rex (1995)'",
 85: "b'Diabolique (1996)'",
 86: "b'Moll Flanders (1996)'",
 87: "b'Kids in the Hall: Brain Candy (1996)'",
 88: "b'Mystery Science Theater 3000: The Movie (1996)'",
 89: "b'Operation Dumbo Drop (1995)'",
 90: "b'Truth About Cats & Dogs, The (1996)'",
 91: "b'Flipper (1996)'",
 92: "b'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)'",
 93: "b'Wallace & Gromit: The Best of Aardman Animation (1996)'",
 94: "b'Haunted World of Edward D. Wood Jr., The (1995)'",
 95: "b'Cold Comfort Farm (1995)'",
 96: "b'Rock, The (1996)'",
 97: "b'Twister (1996)'",
 98: "b'Striptease (1996)'",
 99: "b'Independence Day (ID4) (1996)'",
 100: "b'Cable Guy, The (1996)'",
 101: "b'Frighteners, The (1996)'",
 102: "b'Lone Star (1996)'",
 103: "b'Phenomenon (1996)'",
 104: "b'Spitfire Grill, The (1996)'",
 105: "b'Godfather, The (1972)'",
 106: "b'Supercop (1992)'",
 107: "b'Bound (1996)'",
 108: "b'Kansas City (1996)'",
 109: "b'Wizard of Oz, The (1939)'",
 110: "b'Citizen Kane (1941)'",
 111: "b'Big Night (1996)'",
 112: "b'Love Bug, The (1969)'",
 113: "b'Homeward Bound: The Incredible Journey (1993)'",
 114: "b'Bedknobs and Broomsticks (1971)'",
 115: "b'Sound of Music, The (1965)'",
 116: "b'Lawnmower Man, The (1992)'",
 117: "b'Ghost and the Darkness, The (1996)'",
 118: "b'Jude (1996)'",
 119: "b'Swingers (1996)'",
 120: "b'Willy Wonka and the Chocolate Factory (1971)'",
 121: "b'Sleeper (1973)'",
 122: "b'Fish Called Wanda, A (1988)'",
 123: 'b"Monty Python\'s Life of Brian (1979)"',
 124: "b'Dirty Dancing (1987)'",
 125: "b'Reservoir Dogs (1992)'",
 126: "b'Platoon (1986)'",
 127: "b'Basic Instinct (1992)'",
 128: "b'Glengarry Glen Ross (1992)'",
 129: "b'Top Gun (1986)'",
 130: "b'On Golden Pond (1981)'",
 131: "b'Return of the Pink Panther, The (1974)'",
 132: "b'Abyss, The (1989)'",
 133: "b'Jean de Florette (1986)'",
 134: "b'Private Benjamin (1980)'",
 135: "b'Monty Python and the Holy Grail (1974)'",
 136: "b'Wrong Trousers, The (1993)'",
 137: "b'Cinema Paradiso (1988)'",
 138: "b'Delicatessen (1991)'",
 139: "b'Empire Strikes Back, The (1980)'",
 140: "b'Raiders of the Lost Ark (1981)'",
 141: "b'Brazil (1985)'",
 142: "b'Good, The Bad and The Ugly, The (1966)'",
 143: "b'12 Angry Men (1957)'",
 144: "b'Apocalypse Now (1979)'",
 145: "b'GoodFellas (1990)'",
 146: "b'Alien (1979)'",
 147: "b'Army of Darkness (1993)'",
 148: "b'Psycho (1960)'",
 149: "b'Blues Brothers, The (1980)'",
 150: "b'Full Metal Jacket (1987)'",
 151: "b'Grand Day Out, A (1992)'",
 152: "b'Henry V (1989)'",
 153: "b'Amadeus (1984)'",
 154: "b'Raging Bull (1980)'",
 155: "b'Right Stuff, The (1983)'",
 156: "b'Terminator, The (1984)'",
 157: "b'Dead Poets Society (1989)'",
 158: "b'Nikita (La Femme Nikita) (1990)'",
 159: "b'Bridge on the River Kwai, The (1957)'",
 160: "b'Shining, The (1980)'",
 161: "b'Evil Dead II (1987)'",
 162: "b'Groundhog Day (1993)'",
 163: "b'Unforgiven (1992)'",
 164: "b'Back to the Future (1985)'",
 165: "b'Akira (1988)'",
 166: "b'Cyrano de Bergerac (1990)'",
 167: "b'Young Frankenstein (1974)'",
 168: "b'This Is Spinal Tap (1984)'",
 169: "b'Indiana Jones and the Last Crusade (1989)'",
 170: "b'Unbearable Lightness of Being, The (1988)'",
 171: "b'Room with a View, A (1986)'",
 172: "b'Pink Floyd - The Wall (1982)'",
 173: "b'Field of Dreams (1989)'",
 174: "b'When Harry Met Sally... (1989)'",
 175: 'b"Bram Stoker\'s Dracula (1992)"',
 176: "b'Cape Fear (1991)'",
 177: "b'Nightmare on Elm Street, A (1984)'",
 178: "b'Breaking the Waves (1996)'",
 179: "b'Star Trek: First Contact (1996)'",
 180: "b'Sling Blade (1996)'",
 181: "b'Ridicule (1996)'",
 182: "b'101 Dalmatians (1996)'",
 183: "b'Die Hard 2 (1990)'",
 184: "b'Star Trek VI: The Undiscovered Country (1991)'",
 185: "b'Star Trek: The Wrath of Khan (1982)'",
 186: "b'Star Trek III: The Search for Spock (1984)'",
 187: "b'Star Trek IV: The Voyage Home (1986)'",
 188: "b'Batman Returns (1992)'",
 189: "b'Young Guns (1988)'",
 190: "b'Under Siege (1992)'",
 191: "b'Mars Attacks! (1996)'",
 192: "b'Citizen Ruth (1996)'",
 193: "b'Raising Arizona (1987)'",
 194: "b'Beavis and Butt-head Do America (1996)'",
 195: "b'Last of the Mohicans, The (1992)'",
 196: "b'Kolya (1996)'",
 197: "b'Jungle2Jungle (1997)'",
 198: 'b"Smilla\'s Sense of Snow (1997)"',
 199: 'b"Devil\'s Own, The (1997)"',
 200: "b'Grosse Pointe Blank (1997)'",
 201: "b'Fifth Element, The (1997)'",
 202: "b'Shall We Dance? (1996)'",
 203: "b'Lost World: Jurassic Park, The (1997)'",
 204: "b'Pillow Book, The (1995)'",
 205: "b'Batman & Robin (1997)'",
 206: 'b"My Best Friend\'s Wedding (1997)"',
 207: "b'Contact (1997)'",
 208: "b'George of the Jungle (1997)'",
 209: "b'Event Horizon (1997)'",
 210: "b'Air Bud (1997)'",
 211: "b'In the Company of Men (1997)'",
 212: "b'Steel (1997)'",
 213: "b'Mimic (1997)'",
 214: "b'Hunt for Red October, The (1990)'",
 215: "b'Kull the Conqueror (1997)'",
 216: "b'unknown'",
 217: "b'Good Will Hunting (1997)'",
 218: "b'Jerry Maguire (1996)'",
 219: "b'Men in Black (1997)'",
 220: "b'Full Monty, The (1997)'",
 221: "b'Sabrina (1995)'",
 222: "b'Sense and Sensibility (1995)'",
 223: "b'Bed of Roses (1996)'",
 224: "b'Once Upon a Time... When We Were Colored (1995)'",
 225: "b'Up Close and Personal (1996)'",
 226: "b'River Wild, The (1994)'",
 227: "b'Tin Cup (1996)'",
 228: "b'Secrets & Lies (1996)'",
 229: "b'English Patient, The (1996)'",
 230: "b'Scream (1996)'",
 231: "b'Evita (1996)'",
 232: "b'Fierce Creatures (1997)'",
 233: "b'Rosewood (1997)'",
 234: "b'Promesse, La (1996)'",
 235: 'b"Ulee\'s Gold (1997)"',
 236: "b'Face/Off (1997)'",
 237: "b'Hoodlum (1997)'",
 238: "b'Air Force One (1997)'",
 239: "b'In & Out (1997)'",
 240: "b'L.A. Confidential (1997)'",
 241: "b'Fly Away Home (1996)'",
 242: 'b"Devil\'s Advocate, The (1997)"',
 243: "b'FairyTale: A True Story (1997)'",
 244: "b'Wings of the Dove, The (1997)'",
 245: "b'Midnight in the Garden of Good and Evil (1997)'",
 246: "b'Titanic (1997)'",
 247: "b'3 Ninjas: High Noon At Mega Mountain (1998)'",
 248: "b'Apt Pupil (1998)'",
 249: "b'As Good As It Gets (1997)'",
 250: "b'Starship Troopers (1997)'",
 251: "b'Liar Liar (1997)'",
 252: 'b"Schindler\'s List (1993)"',
 253: "b'Everyone Says I Love You (1996)'",
 254: 'b"Dante\'s Peak (1997)"',
 255: "b'Lost Highway (1997)'",
 256: "b'Crash (1996)'",
 257: "b'G.I. Jane (1997)'",
 258: "b'Cop Land (1997)'",
 259: "b'Conspiracy Theory (1997)'",
 260: "b'187 (1997)'",
 261: "b'Edge, The (1997)'",
 262: "b'Kiss the Girls (1997)'",
 263: "b'Game, The (1997)'",
 264: "b'U Turn (1997)'",
 265: "b'How to Be a Player (1997)'",
 266: "b'Playing God (1997)'",
 267: "b'House of Yes, The (1997)'",
 268: "b'Boogie Nights (1997)'",
 269: "b'Critical Care (1997)'",
 270: "b'Alien: Resurrection (1997)'",
 271: "b'Apostle, The (1997)'",
 272: "b'Deconstructing Harry (1997)'",
 273: "b'Jackie Brown (1997)'",
 274: "b'Wag the Dog (1997)'",
 275: "b'Desperate Measures (1998)'",
 276: "b'Hard Rain (1998)'",
 277: "b'Fallen (1998)'",
 278: "b'Prophecy II, The (1998)'",
 279: "b'Spice World (1997)'",
 280: "b'Deep Rising (1998)'",
 281: "b'Wedding Singer, The (1998)'",
 282: "b'Client, The (1994)'",
 283: 'b"One Flew Over the Cuckoo\'s Nest (1975)"',
 284: "b'Spawn (1997)'",
 285: "b'Assignment, The (1997)'",
 286: "b'Wonderland (1997)'",
 287: "b'Incognito (1997)'",
 288: "b'Blues Brothers 2000 (1998)'",
 289: "b'Toy Story (1995)'",
 290: "b'GoldenEye (1995)'",
 291: "b'To Wong Foo, Thanks for Everything! Julie Newmar (1995)'",
 292: "b'Santa Clause, The (1994)'",
 293: "b'Blade Runner (1982)'",
 294: "b'Sgt. Bilko (1996)'",
 295: "b'Die Hard (1988)'",
 296: "b'Princess Bride, The (1987)'",
 297: "b'Aliens (1986)'",
 298: "b'Return of the Jedi (1983)'",
 299: "b'M*A*S*H (1970)'",
 300: "b'Jaws (1975)'",
 301: "b'Sneakers (1992)'",
 302: "b'Sudden Death (1995)'",
 303: "b'Ace Ventura: When Nature Calls (1995)'",
 304: "b'Powder (1995)'",
 305: "b'Dangerous Minds (1995)'",
 306: "b'Clueless (1995)'",
 307: "b'Bio-Dome (1996)'",
 308: "b'Black Sheep (1996)'",
 309: "b'Mary Reilly (1996)'",
 310: "b'Jeffrey (1995)'",
 311: "b'Judge Dredd (1995)'",
 312: "b'Mighty Morphin Power Rangers: The Movie (1995)'",
 313: "b'Showgirls (1995)'",
 314: "b'Houseguest (1994)'",
 315: "b'Heavyweights (1994)'",
 316: "b'Tales From the Crypt Presents: Demon Knight (1995)'",
 317: "b'Star Trek: Generations (1994)'",
 318: "b'Adventures of Priscilla, Queen of the Desert, The (1994)'",
 319: "b'Flintstones, The (1994)'",
 320: "b'Naked Gun 33 1/3: The Final Insult (1994)'",
 321: "b'True Lies (1994)'",
 322: "b'Addams Family Values (1993)'",
 323: "b'Age of Innocence, The (1993)'",
 324: "b'Beverly Hills Cop III (1994)'",
 325: "b'Black Beauty (1994)'",
 326: "b'Last Action Hero (1993)'",
 327: "b'Mrs. Doubtfire (1993)'",
 328: "b'Radioland Murders (1994)'",
 329: "b'Serial Mom (1994)'",
 330: "b'Striking Distance (1993)'",
 331: "b'Super Mario Bros. (1993)'",
 332: "b'Little Rascals, The (1994)'",
 333: "b'Ghost (1990)'",
 334: "b'Batman (1989)'",
 335: "b'Pinocchio (1940)'",
 336: "b'Thinner (1996)'",
 337: "b'Spy Hard (1996)'",
 338: "b'Jack (1996)'",
 339: "b'Kingpin (1996)'",
 340: "b'Nutty Professor, The (1996)'",
 341: "b'Very Brady Sequel, A (1996)'",
 342: "b'Tales from the Crypt Presents: Bordello of Blood (1996)'",
 343: "b'Parent Trap, The (1961)'",
 344: "b'Cinderella (1950)'",
 345: "b'Mary Poppins (1964)'",
 346: "b'Alice in Wonderland (1951)'",
 347: 'b"William Shakespeare\'s Romeo and Juliet (1996)"',
 348: "b'Aladdin and the King of Thieves (1996)'",
 349: "b'E.T. the Extra-Terrestrial (1982)'",
 350: "b'Children of the Corn: The Gathering (1996)'",
 351: "b'Bob Roberts (1992)'",
 352: "b'Transformers: The Movie, The (1986)'",
 353: "b'Harold and Maude (1971)'",
 354: "b'Day the Earth Stood Still, The (1951)'",
 355: "b'Highlander (1986)'",
 356: "b'Heathers (1989)'",
 357: "b'Forbidden Planet (1956)'",
 358: "b'Butch Cassidy and the Sundance Kid (1969)'",
 359: "b'American Werewolf in London, An (1981)'",
 360: "b'Amityville 3-D (1983)'",
 361: "b'Amityville: A New Generation (1993)'",
 362: "b'Amityville Horror, The (1979)'",
 363: "b'Blob, The (1958)'",
 364: "b'Body Snatcher, The (1945)'",
 365: "b'Burnt Offerings (1976)'",
 366: "b'Carrie (1976)'",
 367: "b'Omen, The (1976)'",
 368: "b'Star Trek V: The Final Frontier (1989)'",
 369: "b'Jaws 3-D (1983)'",
 370: "b'Bastard Out of Carolina (1996)'",
 371: 'b"Jackie Chan\'s First Strike (1996)"',
 372: "b'Free Willy 3: The Rescue (1997)'",
 373: "b'Babe (1995)'",
 374: "b'Dead Man Walking (1995)'",
 375: "b'Crumb (1994)'",
 376: 'b"Breakfast at Tiffany\'s (1961)"',
 377: "b'Gone with the Wind (1939)'",
 378: "b'2001: A Space Odyssey (1968)'",
 379: "b'Mr. Smith Goes to Washington (1939)'",
 380: "b'Godfather: Part II, The (1974)'",
 381: "b'Graduate, The (1967)'",
 382: "b'Patton (1970)'",
 383: "b'Chasing Amy (1997)'",
 384: "b'Leaving Las Vegas (1995)'",
 385: "b'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)'",
 386: "b'Deceiver (1997)'",
 387: "b'In the Name of the Father (1993)'",
 388: "b'Fantasia (1940)'",
 389: "b'Nixon (1995)'",
 390: "b'Cry, the Beloved Country (1995)'",
 391: "b'Crossing Guard, The (1995)'",
 392: "b'Like Water For Chocolate (Como agua para chocolate) (1992)'",
 393: "b'Secret of Roan Inish, The (1994)'",
 394: "b'Vanya on 42nd Street (1994)'",
 395: "b'Red Rock West (1992)'",
 396: "b'Bronx Tale, A (1993)'",
 397: "b'Rudy (1993)'",
 398: "b'Short Cuts (1993)'",
 399: "b'Tombstone (1993)'",
 400: "b'Courage Under Fire (1996)'",
 401: "b'Dragonheart (1996)'",
 402: "b'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)'",
 403: "b'Trainspotting (1996)'",
 404: "b'First Wives Club, The (1996)'",
 405: "b'Matilda (1996)'",
 406: "b'Philadelphia Story, The (1940)'",
 407: "b'Vertigo (1958)'",
 408: "b'North by Northwest (1959)'",
 409: "b'Apartment, The (1960)'",
 410: "b'Casablanca (1942)'",
 411: "b'Maltese Falcon, The (1941)'",
 412: "b'Sabrina (1954)'",
 413: "b'Roman Holiday (1953)'",
 414: "b'Sunset Blvd. (1950)'",
 415: "b'Notorious (1946)'",
 416: "b'To Catch a Thief (1955)'",
 417: "b'Adventures of Robin Hood, The (1938)'",
 418: "b'East of Eden (1955)'",
 419: 'b"It\'s a Wonderful Life (1946)"',
 420: "b'Bringing Up Baby (1938)'",
 421: "b'African Queen, The (1951)'",
 422: "b'Cat on a Hot Tin Roof (1958)'",
 423: "b'Bananas (1971)'",
 424: "b'Rebel Without a Cause (1955)'",
 425: "b'People vs. Larry Flynt, The (1996)'",
 426: "b'My Left Foot (1989)'",
 427: "b'Lawrence of Arabia (1962)'",
 428: "b'Third Man, The (1949)'",
 429: "b'Boot, Das (1981)'",
 430: "b'Manhattan (1979)'",
 431: 'b"Miller\'s Crossing (1990)"',
 432: "b'Treasure of the Sierra Madre, The (1948)'",
 433: "b'Deer Hunter, The (1978)'",
 434: "b'Cool Hand Luke (1967)'",
 435: "b'Great Dictator, The (1940)'",
 436: "b'Big Sleep, The (1946)'",
 437: "b'Ben-Hur (1959)'",
 438: "b'Gandhi (1982)'",
 439: "b'Killing Fields, The (1984)'",
 440: "b'Shine (1996)'",
 441: "b'Kama Sutra: A Tale of Love (1996)'",
 442: "b'Daytrippers, The (1996)'",
 443: "b'Traveller (1997)'",
 444: "b'Addicted to Love (1997)'",
 445: "b'My Own Private Idaho (1991)'",
 446: "b'Mouse Hunt (1997)'",
 447: "b'Braveheart (1995)'",
 448: "b'Crow, The (1994)'",
 449: "b'Welcome to the Dollhouse (1995)'",
 450: "b'20,000 Leagues Under the Sea (1954)'",
 451: "b'Manon of the Spring (Manon des sources) (1986)'",
 452: "b'Clockwork Orange, A (1971)'",
 453: "b'Heat (1995)'",
 454: "b'Miracle on 34th Street (1994)'",
 455: "b'Three Musketeers, The (1993)'",
 456: "b'Brady Bunch Movie, The (1995)'",
 457: "b'Apple Dumpling Gang, The (1975)'",
 458: "b'To Kill a Mockingbird (1962)'",
 459: "b'Duck Soup (1933)'",
 460: "b'Birds, The (1963)'",
 461: "b'Grease (1978)'",
 462: "b'Jaws 2 (1978)'",
 463: "b'Smoke (1995)'",
 464: "b'Some Like It Hot (1959)'",
 465: "b'My Fair Lady (1964)'",
 466: "b'Around the World in 80 Days (1956)'",
 467: "b'Dumbo (1941)'",
 468: "b'Candidate, The (1972)'",
 469: "b'Bonnie and Clyde (1967)'",
 470: "b'Dial M for Murder (1954)'",
 471: "b'Magnificent Seven, The (1954)'",
 472: "b'Annie Hall (1977)'",
 473: "b'Great Escape, The (1963)'",
 474: "b'Man Who Would Be King, The (1975)'",
 475: "b'Money Train (1995)'",
 476: "b'Mortal Kombat (1995)'",
 477: "b'Pocahontas (1995)'",
 478: "b'Mis\\xe9rables, Les (1995)'",
 479: 'b"Things to Do in Denver when You\'re Dead (1995)"',
 480: "b'Vampire in Brooklyn (1995)'",
 481: "b'Broken Arrow (1996)'",
 482: "b'NeverEnding Story III, The (1994)'",
 483: "b'Rob Roy (1995)'",
 484: "b'Die Hard: With a Vengeance (1995)'",
 485: "b'Lord of Illusions (1995)'",
 486: "b'Walk in the Clouds, A (1995)'",
 487: "b'Waterworld (1995)'",
 488: 'b"White Man\'s Burden (1995)"',
 489: "b'Interview with the Vampire (1994)'",
 490: 'b"Kid in King Arthur\'s Court, A (1995)"',
 491: 'b"Mary Shelley\'s Frankenstein (1994)"',
 492: "b'Quick and the Dead, The (1995)'",
 493: 'b"Stephen King\'s The Langoliers (1995)"',
 494: "b'Tales from the Hood (1995)'",
 495: "b'Clear and Present Danger (1994)'",
 496: 'b"Wes Craven\'s New Nightmare (1994)"',
 497: "b'Speed (1994)'",
 498: "b'Wolf (1994)'",
 499: "b'Wyatt Earp (1994)'",
 500: "b'Body Snatchers (1993)'",
 501: 'b"City Slickers II: The Legend of Curly\'s Gold (1994)"',
 502: "b'Cliffhanger (1993)'",
 503: "b'Coneheads (1993)'",
 504: "b'Fatal Instinct (1993)'",
 505: "b'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)'",
 506: "b'Kalifornia (1993)'",
 507: "b'Piano, The (1993)'",
 508: "b'Terminal Velocity (1994)'",
 509: "b'Hour of the Pig, The (1993)'",
 510: "b'Wild Bunch, The (1969)'",
 511: "b'Primal Fear (1996)'",
 512: "b'True Crime (1995)'",
 513: "b'Heavy (1995)'",
 514: "b'Big Squeeze, The (1996)'",
 515: "b'Police Story 4: Project S (Chao ji ji hua) (1993)'",
 516: "b'For Whom the Bell Tolls (1943)'",
 517: "b'American in Paris, An (1951)'",
 518: "b'It Happened One Night (1934)'",
 519: "b'Meet Me in St. Louis (1944)'",
 520: "b'All About Eve (1950)'",
 521: "b'Rebecca (1940)'",
 522: "b'Spellbound (1945)'",
 523: "b'Gigi (1958)'",
 524: "b'Giant (1956)'",
 525: "b'39 Steps, The (1935)'",
 526: "b'Picnic (1955)'",
 527: "b'Extreme Measures (1996)'",
 528: "b'Davy Crockett, King of the Wild Frontier (1955)'",
 529: "b'Swiss Family Robinson (1960)'",
 530: "b'Angels in the Outfield (1994)'",
 531: "b'Three Caballeros, The (1945)'",
 532: "b'Sword in the Stone, The (1963)'",
 533: "b'So Dear to My Heart (1949)'",
 534: "b'Robin Hood: Prince of Thieves (1991)'",
 535: "b'Victor/Victoria (1982)'",
 536: "b'Great Race, The (1965)'",
 537: "b'Crying Game, The (1992)'",
 538: 'b"Sophie\'s Choice (1982)"',
 539: "b'Christmas Carol, A (1938)'",
 540: 'b"Microcosmos: Le peuple de l\'herbe (1996)"',
 541: "b'Fog, The (1980)'",
 542: "b'Escape from New York (1981)'",
 543: "b'Howling, The (1981)'",
 544: "b'Return of Martin Guerre, The (Retour de Martin Guerre, Le) (1982)'",
 545: "b'Tin Drum, The (Blechtrommel, Die) (1979)'",

In [68]:
# add the movie title, using the apply method, returning a Pandas Series in each row
def add_tile(row):
    id_ = row[0]
    title_ = m1.unique_item_dict[id_]
    freq_ = row[1]
    new_row = [id_, title_, freq_]
    return pd.Series(new_row, index=['id', 'title', 'freq'])

mostRatedMovies = (mostRatedSorted
                   .reset_index()
                   .apply(add_tile, axis=1)
                  )

In [69]:
mostRatedMovies.head()

    id                         title  freq
0   36           b'Star Wars (1977)'   461
1   80               b'Fargo (1996)'   414
2  207             b'Contact (1997)'   409
3  298  b'Return of the Jedi (1983)'   406
4  251           b'Liar Liar (1997)'   402

## 2.2 Most positively rated movie

Use the query method to filter values in train, `train.query('rating>4')`, or the traditional form `train[train.rating>4]`.

In [101]:
mostPositiveRatedMovies = (train
    .query('rating>=4')             
    .groupby('item_id')['user_id']
    .count()
    .sort_values(ascending=False)
    .reset_index()
    .apply(add_tile, axis=1)
)

mostPositiveRatedMovies.head()

    id                              title  freq
0   36                b'Star Wars (1977)'   397
1   80                    b'Fargo (1996)'   334
2  298       b'Return of the Jedi (1983)'   302
3  105           b'Godfather, The (1972)'   283
4  140  b'Raiders of the Lost Ark (1981)'   280

## 2.3 Highest mean rating movie

In [71]:
train.groupby('item_id')['rating'].agg(list)

item_id
0       [4, 3, 3, 2, 4, 1, 3, 5, 3, 3, 3, 2, 2, 4, 4, ...
1       [3, 5, 4, 5, 4, 5, 4, 2, 4, 4, 3, 3, 3, 5, 4, ...
2       [3, 3, 4, 4, 4, 3, 3, 2, 3, 3, 3, 3, 2, 3, 4, ...
3       [5, 5, 3, 3, 5, 4, 4, 1, 4, 5, 2, 5, 4, 5, 3, ...
4       [4, 2, 5, 3, 4, 4, 5, 1, 5, 4, 4, 4, 3, 5, 4, ...
5       [3, 4, 3, 4, 4, 5, 5, 5, 5, 5, 4, 2, 5, 3, 3, ...
6       [2, 4, 3, 3, 2, 1, 2, 4, 5, 3, 3, 4, 4, 4, 5, ...
7       [5, 5, 5, 2, 5, 5, 4, 5, 4, 5, 4, 5, 4, 5, 5, ...
8       [5, 4, 3, 4, 3, 5, 4, 4, 3, 3, 5, 4, 4, 4, 4, ...
9       [5, 5, 4, 3, 5, 2, 5, 4, 4, 4, 4, 5, 4, 5, 4, ...
10      [5, 3, 5, 5, 4, 5, 4, 4, 4, 4, 5, 4, 4, 2, 5, ...
11      [5, 4, 4, 1, 3, 4, 3, 3, 3, 2, 3, 2, 4, 4, 3, ...
12      [3, 4, 4, 3, 2, 3, 4, 2, 4, 3, 5, 3, 3, 4, 2, ...
13                                  [4, 3, 1, 4, 2, 2, 3]
14      [5, 3, 4, 5, 3, 4, 4, 4, 4, 5, 5, 5, 4, 4, 4, ...
15      [4, 3, 1, 4, 3, 3, 1, 5, 2, 4, 1, 4, 4, 4, 5, ...
16      [4, 4, 5, 5, 4, 4, 5, 4, 4, 5, 4, 4, 5, 5, 5, ...
17      [3, 4, 1, 4, 3, 3, 4, 4, 2, 3, 4, 3, 4, 4, 4, ...
18      [4, 3, 3, 1, 2, 3, 3, 4, 5, 3, 3, 4, 2, 5, 4, ...
19      [2, 3, 2, 4, 2, 3, 3, 1, 4, 3, 5, 3, 3, 1, 3, ...
20      [4, 2, 5, 5, 5, 5, 5, 3, 3, 4, 4, 4, 4, 5, 4, ...
21      [1, 3, 2, 1, 3, 3, 3, 3, 3, 2, 3, 3, 2, 4, 3, ...
22      [3, 4, 5, 4, 3, 4, 4, 4, 3, 5, 4, 4, 4, 4, 4, ...
23      [4, 5, 2, 3, 1, 3, 4, 3, 3, 5, 3, 5, 5, 5, 3, ...
24                         [1, 5, 1, 1, 2, 2, 3, 2, 1, 4]
25                         [2, 3, 1, 1, 3, 2, 4, 2, 1, 2]
26      [4, 5, 3, 5, 2, 4, 3, 3, 3, 4, 3, 4, 2, 1, 4, ...
27      [2, 3, 1, 3, 2, 4, 3, 5, 3, 5, 5, 4, 3, 4, 4, ...
28      [5, 5, 3, 4, 4, 4, 4, 5, 5, 3, 4, 4, 4, 1, 4, ...
29      [4, 4, 3, 2, 3, 3, 3, 1, 3, 3, 4, 3, 3, 1, 1, ...
                              ...
1600                                               [3, 5]
1601                                                  [2]
1602                                                  [2]
1603                                               [3, 5]
1604                                                  [3]
1605                                               [3, 5]
1606                                                  [3]
1607                                                  [2]
1608                                         [4, 1, 4, 4]
1609                                                  [2]
1610                                                  [2]
1611                                                  [3]
1612                                                  [3]
1613                                                  [2]
1614                                                  [3]
1615                                                  [1]
1616                                               [2, 2]
1617                                                  [3]
1618                                                  [4]
1619                                            [3, 5, 4]
1620                                                  [3]
1621                                                  [2]
1622                                                  [3]
1623                                                  [1]
1624                                                  [3]
1625                                                  [3]
1626                                                  [4]
1627                                                  [3]
1628                                                  [3]
1629                                                  [2]
Name: rating, Length: 1630, dtype: object

In [100]:
# obtain the highest rated movies, with a minium number of users/ratings.
min_ratings = 200
highestMeanRatedMovies = (train    
    .groupby('item_id')['rating'].agg(list)
    .apply(lambda l: np.mean(l) if len(l)>=min_ratings else 0.0)
    .sort_values(ascending=False)
    .reset_index()
    .apply(add_tile, axis=1)
)

highestMeanRatedMovies.head()

      id                                title      freq
0  252.0           b"Schindler's List (1993)"  4.512821
1   49.0  b'Shawshank Redemption, The (1994)'  4.466667
2    7.0        b'Usual Suspects, The (1995)'  4.395122
3   36.0                  b'Star Wars (1977)'  4.364425
4  105.0             b'Godfather, The (1972)'  4.301205

<div class  = "alert alert-info"> 
** QUESTION **: set the value of *min_ratings* to 1, and re-run the cell. What happens now? Change this value
</div>

<div class  = "alert alert-info"> 
** QUESTION **: Which method is better?? How to measure a recommender system? 
</div>

<div class  = "alert alert-info"> 
** IMPORTANT QUESTION **: When might be useful to recommend popular items?
</div>

<a id='metrics'></a>
## 3. Metrics for recommender systems

As we have seen, even with the simplest solution --aka, recommending popular items-- is difficult to known which technique performs better. For this, there are a number of metrics that allow one to measure the goodness of a recommender system. 

Metrics can be design for measuring the relevance or accuracy of a recommendation, but they can be created for evaluating the novelty of a recommendation, or its diversity. 

For now, we will focus on relevance and accuracy. Several metrics exist:
* Accuracy: rmse, mae.
* Not ranked: Recall@k, Precision@k.
* With rank disccount: map@k, ndcg@k.
* With rank ordering: mean percentile rank.

We will be definiing some of them whitin this class. For the moment, let's talk about precision and recall.

## 3.1 Precision and recall

<img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Precisionrecall.svg" alt="Precision and Recall in IR" style="float: right; width: 300px"/>

The concept of precision and recall comes form the world of information retrieval, have a look at the wikipedia:

https://en.wikipedia.org/wiki/Precision_and_recall

From this entry:

 * "**precision** (also called positive predictive value) is the fraction of retrieved instances that are relevant".
 * "**recall** (also known as sensitivity) is the fraction of relevant instances that are retrieved".

<br />
<div class  = "alert alert-info"> 
** QUESTION **: how do we know if some movie, unknown to the user, is relevant?
</div>

In other words, we cannot measure a false positive --something recommended that was not relevant--. In this regard, only recall-oriented metrics have an actual meaning in RS. Nonetheless, its common practice to define both metrics in RS as follows:
 
### $$\mathrm{recall}@N = \frac{\sum_{k=1}^N rel(k)}{\sum_{i\in \mathcal{I}_u} 1}$$
### $$\mathrm{precision}@N = \frac{\sum_{k=1}^N rel(k)}{N}$$

Here, $\mathcal{I}_u$ is the set of items adopted by user $u$, and $rel(k)$ is the relevance of a recommendation at position k in the list of recommendations. For ratings, the relevance could be defined as those movies rated above a certain threshold, e.g. $r_{ui}>4.0$. 

**Important to note: since precision is pretty much the same as recall in RS, metrcis usch as the *area under the ROC curve* doesn't have any meaning!!**

<div class = "alert alert-success">
As an example, consider a user that watched the following films:
<br /><br />
'Designated Mourner, The (1997)'
<br />
'Money Talks (1997)'
<br />
'Madame Butterfly (1995)'
<br />
'Batman Forever (1995)'
<br /><br />
The recommended items were: 
<br /><br />
'Batman (1989)' 
<br />
'Madame Butterfly (1995)'
<br /><br />
**What would be the recall and precision @1? and @2?**
<br />
**What do you think of recommending Batman? Is a bad or a good recommendation?**
</div>

Please notice that there isn't any actual difference between precision and recall in the context of RS: both measure the relevance of the recommendations, and tell nothing about items recommended that haven't been adopted by the user. Thus, it make sense to define a normalized recall as:

### $$\mathrm{recall}@N = \frac{\sum_{i=1}^N rel_i}{\mathrm{min}(N, \sum_{i\in \mathcal{I}_u} 1})$$

This way, results are normalized to 1 always.

<div class="alert alert-success">
**Exercise** Implement the above definition of recall
</div>

In [76]:
def recall_at_n(N, test, recommended, train=None):
    """
    :param N: number of recommendations
    :param test: list of movies seen by user in test
    :param train: list of movies seen by user in train. This has to be removed from the recommended list 
    :param recommended: list of movies recommended
    
    :return the recall
    """
    if train is not None: # Remove items in train
        rec_true = []
        for r in recommended:
            if r not in train:
                rec_true.append(r)
    else:
        rec_true = recommended    
    intersection = len(set(rec_true[:N]) & set(test))
    return intersection / float(np.minimum(N, len(test)))

In [77]:
seen = ['Designated Mourner, The (1997)', 'Money Talks (1997)', 
        'Madame Butterfly (1995)', 'Batman Forever (1995)']
recommended = ['Batman (1989)', 'Madame Butterfly (1995)']

In [78]:
recall_at_n(1, seen, recommended)

0.0

In [79]:
recall_at_n(2, seen, recommended)

0.5

In [80]:
# Check it's well normalized
print(recall_at_n(3, seen, recommended))
print(recall_at_n(10, seen, recommended))
print(recall_at_n(100, seen, recommended))

0.3333333333333333
0.25
0.25

### Now, use this implementation to measure the efficiency of the popularity baselines in the test set. Use the top-5 movies, for instance

In [87]:
train_grouped = train.groupby('user_id')['item_id'].apply(list).reset_index()
test_grouped = test.groupby('user_id')['item_id'].apply(list).reset_index()

In [94]:
merged = pd.merge(train_grouped, test_grouped, on='user_id', 
                  how='inner', suffixes=('_train', '_test'))

In [95]:
merged.head()

,user_id,item_id_train,item_id_test
0,1,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[289, 290, 373, 374, 665, 447, 844, 1023, 375,..."
1,2,"[8, 14, 36, 80, 105, 218, 202, 206, 219, 220, ...","[289, 5, 9, 18, 90, 196, 207, 453, 384, 620, 6..."
2,3,"[199, 213, 250, 217, 251, 237, 238, 242, 252, ...","[298, 207, 209, 383, 230, 240, 235, 387, 673, ..."
3,4,"[6, 36, 209, 213, 230, 251, 239, 235, 255, 258...","[169, 207, 250, 238, 259, 275]"
4,5,"[289, 290, 12, 17, 291, 28, 48, 292, 51, 53, 6...","[665, 18, 21, 36, 54, 76, 589, 81, 378, 120, 1..."

In [98]:
def func(row, recommendation, N=10):
    train_list = row[1]
    test_list = row[2]
    rec_list = recommendation.id.values
    return recall_at_n(N, test_list, rec_list, train_list)


topn=100
merged.apply(lambda row: func(row, mostRatedMovies, topn), axis=1).mean()

0.42633342524622253

In [102]:
merged.apply(lambda row: func(row, highestMeanRatedMovies, topn), axis=1).mean()

0.3217962459920127

## 3.2 Mean Averaged Precision (MAP) -- Advanced material

Previous metrics did not account for the ranking of the recommendation, i.e. the relative position of a movie within the sorted list of recommendations. **But orders matters!** Metrics like MAP, MRR or NDCG try to tackle down this problem. 

From the blog *http://fastml.com/what-you-wanted-to-know-about-mean-average-precision/*:

> Here’s another way to understand average precision. Wikipedia says AP is used to score document retrieval. You can think of it this way: you type something in Google and it shows you 10 results. It’s probably best if all of them were relevant. If only some are relevant, say five of them, then it’s much better if the relevant ones are shown first. It would be bad if first five were irrelevant and good ones only started from sixth, wouldn’t it? AP score reflects this.

Implementation taken from:

https://github.com/benhamner/Metrics/blob/master/Python/ml_metrics/average_precision.py

## Average Precision 

The Average Precision is definied as:

### $$\mathrm{AP}@N = \frac{\sum_{k=1}^N P(k) \times rel(k)}{\mathrm{min}(N, \sum_{i\in \mathcal{I}_u} 1)}$$

where $P(k)$ is the precision at cut-off in the item list, i.e. the ratio of the number of recommended items adopted, up to the position k, over the number k. Thus:

### $$\mathrm{AP}@N = \frac{\sum_{k=1}^N \left(\sum_{i=1}^k rel(i)\right)/k \times rel(k)}{\mathrm{min}(N, \sum_{i\in \mathcal{I}_u} 1)}$$

<div class = "alert alert-success">
Following the example above, consider a user that watched the following films:
<br /><br />
'Designated Mourner, The (1997)'
<br />
'Money Talks (1997)'
<br />
'Madame Butterfly (1995)'
<br />
'Batman Forever (1995)'
<br /><br />
The recommended items were: 
<br /><br />
'Batman (1989)' 
<br />
'Madame Butterfly (1995)'
<br /><br />

<div class = "alert alert-success">
**Calculate AP@1**
<br /><br />
First, *rel(1)=0*, because Batman was not viewed. Also, *P(1) = 0*. Thus, AP@1=0.
<br />
**Calculate AP@2**
<br /><br />
As before, *rel(1)=0*, so the first term does not contribute. For the second term, *rel(2)=1*, so that *P(2)=0.5*. The numerator is hence:
<br /><br />
$P(1)*rel(1)+P(2)*rel(2)=0*0+0.5*1$
<br /><br />
For the denominator, $N=2$ and $\sum_{i\in \mathcal{I}_u} 1)=4$, thus:
<br /><br />
AP@2 = 0.5/2 = 0.25
</div>

Let's now implement it =)

In [ ]:
def apk(N, test, recommended, train=None):
    """
    Computes the average precision at N given recommendations.
    
    :param N: number of recommendations
    :param test: list of movies seen by user in test
    :param train: list of movies seen by user in train. This has to be removed from the recommended list 
    :param recommended: list of movies recommended
    
    :return The average precision at N over the test set
    """
    if train is not None: 
        rec_true = []
        for r in recommended:
            if r not in train:
                rec_true.append(r)
    else:
        rec_true = recommended    
    predicted = rec_true[:N] # top-k predictions
    
    score = 0.0 # This will store the numerator
    num_hits = 0.0 # This will store the sum of rel(i)

    for i,p in enumerate(predicted):
        if p in test and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits/(i+1.0)

    return score / min(len(test), N)

In [ ]:
seen = ['Designated Mourner, The (1997)', 'Money Talks (1997)', 'Madame Butterfly (1995)', 'Batman Forever (1995)']
recommended = ['Madame Butterfly (1995)', 'Batman (1989)']

In [ ]:
apk(1, seen, recommended)

In [ ]:
apk(2, seen, recommended)

In [ ]:
apk(3, seen, recommended)

## MAP

Mean avergae precision is nothing else than the AP averaged across users ;)

Apply it to popularity baselines

In [ ]:
?

<div class="alert alert-success">
The rest of the class is covered in a different notebook
</div>